<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HOLODEX_API_KEY</key>
	<string>$(HOLODEX_API_KEY)</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>LiveWidgetIntent</string>
		<string>PastWidgetIntent</string>
		<string>SelectAgencyIntent</string>
		<string>UpcomingWidgetIntent</string>
	</array>
</dict>
</plist>
